.nav {
  background-color: var(--blue);
  position: sticky;
  top: 0;
  z-index: 1;
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    &-element {
      padding: 1.5rem;

    }
  }
}

.title {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    text-decoration: none;
  }
}