.posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.card {
  width: 250px;
  height: 375px;
  text-align: center;
  margin: 25px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  &__container > :first-child {
    padding: 10px;
  }
  &__container > * {
    margin: 10px;
  }
}
